/* Animasi Running Text Rhezza Maun */
@layer utilities {
  @keyframes marquee-rhezza {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  .animate-marquee-rhezza {
    display: inline-flex;
    animation: marquee-rhezza 30s linear infinite;
  }

  .marquee-container:hover .animate-marquee-rhezza {
    animation-play-state: paused;
  }
}
